<!DOCTYPE html">
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Hey</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">

    <style>
        .bi {
            font-size: 5rem;
        }
    </style>
</head>
<body>
    <div id="conteneur" class="container">
        <h1 id="header" class="mt-5"><a href="#" title="Colored Design"><span> </span></a></h1>
        <nav>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <span class="bi bi-cart"></span>
                            <h5 class="card-title">Application n°1 : Magasin</h5>
                            <a href="/magasin/" class="card-link">Accéder à l'application</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <span class="bi bi-journal-bookmark"></span>
                            <h5 class="card-title">Application n°2 : Blogs</h5>
                            <a href="/blogs/" class="card-link">Accéder à l'application</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <span class="bi bi-joystick"></span>
                            <h5 class="card-title">Application n°3 : Jeux</h5>
                            <a href="/jeux/" class="card-link">Accéder à l'application</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
