<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% block styles %}
    <style>

    </style>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
      <i class="bi bi-cart-fill"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Catalogue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'commande' %}">Passer Commande</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'nouvFour' %}">Liste fournisseurs</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="#">{{user}},</a>
          </li>
          <form method="post" action="{%url 'logout'%}">
            {% csrf_token %}
          <li class="nav-item active">
            <button class="nav-link"type="submit">Déconnexion</button>
          </li>
          </form>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'login'%}">Connexion</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'register'%}">Inscription</a>
          </li>
        {% endif %}
      </ul>
      <a href="#" class="btn btn-primary">Contact Us</a>
    </div>
  </div>
</nav>

<div class="container">
  {% block content %} {% endblock %}
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-EbDbCuX05yC+juHXfQbBcivLeC9bMzOuLWio+GkZtpc1R+ftByUu/Gbrv+Kdmsl2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-ohAYmwL3FWwJwshZSAsnjcVq1wOkvqJojoguP0b31Fvh12EJg1Zl4tWW6bOFjI7h" crossorigin="anonymous"></script>
</body>
</html>
